<div class="pane">
	
	<h2>Agents</h2>
	
	<p>This is a desciprtion of agents. Should you need any help, don't be afraid to ask for it. This is a desciprtion of agents. Should you need any help, don't be afraid to ask for it. </p>

	<table class="table">
		<thead>
			<tr>
				<th style="width: 11%;" class="align_center">Online</th>
				<th style="width: 25%;">Name</th>
				<th style="width: 54%;">Email</th>
				<th style="width: 10%;"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="align_center">
					<i class="fa fa-check-circle fa-lrg online"></i>
				</td>
				<td>Dallas Read</td>
				<td>dallas@excitecreative.ca</td>
				<td class="align_right">
					<button class="fluid_width small gray red_hover">
						<i class="fa fa-trash fa-mdm"></i>
					</button>
				</td>
			</tr>
			<tr>
				<td class="align_center">
					<i class="fa fa-times-circle fa-lrg offline"></i>
				</td>
				<td>Owen Read</td>
				<td>owen@dallasread.com</td>
				<td class="align_right">
					<button class="fluid_width small gray red_hover">
						<i class="fa fa-trash fa-mdm"></i>
					</button>
				</td>
			</tr>
			<tr>
				<td class="align_center">
					<i class="fa fa-times-circle fa-lrg offline"></i>
				</td>
				<td>Another Agent</td>
				<td>another@agent.com</td>
				<td class="align_right">
					<button class="fluid_width small gray red_hover">
						<i class="fa fa-trash fa-mdm"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="upper_space">
		<button>Add Agent</button>
	</div>

</div>