Settings. 

<div class="pane">
	<div class="tabs">
		<div class="nav">
			<a href="#/admin/settings/index">General</a>
			<a href="#/admin/settings/triggers">Triggers</a>
			<a href="#/admin/settings/canned">Canned</a>
			<a href="#/admin/settings/introducers">Introducers</a>
			<a href="#/admin/settings/me">My Profile</a>
		</div>

		<div class="tab">
			{{{outlet}}}
		</div>
	</div>
</div>