Settings. 

<div class="tab">
	<a href="#/admin/settings/index">General</a>
	<a href="#/admin/settings/triggers">Triggers</a>
	<a href="#/admin/settings/canned">Canned</a>
	<a href="#/admin/settings/introducers">Introducers</a>

	{{{outlet}}}
</div>