<tr>
	<td class="align_center">
		{{#if online}}
			<i class="fa fa-check-circle fa-lrg online"></i>
		{{/if}}
	</td>
	<td>
		<input type="text" {{bind-attr value="name" event="blur"}}>
	</td>
	<td>
		<input type="text" {{bind-attr value="email" event="blur"}}>
	</td>
	<td class="align_right">
		<button class="fluid_width small gray red_hover" {{action click="delete"}}>
			<i class="fa fa-trash fa-mdm"></i>
		</button>
	</td>
</tr>