<tr>
	<td class="header_column align_center">
		<span class="canned_hash">#</span>
		<input type="text" {{bind-attr value="hash" path=_path}} class="has_canned_hash">
	</td>
	<td><input type="text" {{bind-attr value="body" path=_path}}></td>
	<td class="align_right">
		<button class="fluid_width small gray red_hover" {{action click="delete" path=_path}}>
			<i class="fa fa-trash"></i>
		</button>
	</td>
</tr>