Canned.

<table>
	<thead>
		<tr>
			<th>Hashtag</th>
			<th>Message</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#each arrangedContent}}
			<tr>
				<td>{{ permalink }}</td>
				<td>{{ message.body }}</td>
				<td><button>Remove</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>

<button class="fluid_width">Add Canned Message</button>