<form>
	<div class="field">
		<label>Which pages should <strong>show</strong> your chatbox?</label>
		<input type="text">
	</div>

	<div class="field">
		<label>Which pages should <strong>hide</strong> your chatbox?</label>
		<input type="text">
	</div>

	<button type="submit" class="fluid_width">Save Settings</button>
</form>