<form>
	<div class="field">
		<label>Which pages should <strong>show</strong> your chatbox?</label>
		<input type="text" value="{{ settings.include }}">
	</div>

	<div class="field">
		<label>Which pages should <strong>hide</strong> your chatbox?</label>
		<input type="text" value="{{ settings.exclude }}">
	</div>

	<button type="submit" class="full_width">Save Settings</button>
</form>