General Settings. Include, exclude,

<form>
	<div class="field">
		<label>
			Include<br>
			<input type="text" {{bind-attr value=include}}>
		</label>
	</div>

	<div class="field">
		<label>
			Exclude<br>
			<input type="text" {{bind-attr value=exclude}}>
		</label>
	</div>

	<div class="actions">
		<input type="submit">
	</div>
</form>