<form>
	<div class="field">
		<label>What is your email address?</label>
		<input type="text">
	</div>

	<div class="field">
		<label>What is your time zone?</label>
		<input type="text">
	</div>

	<button type="submit" class="fluid_width">Save My Profile</button>
</form>