<div>
	<form>
		<div class="field">
			<label>What is your <strong>email address</strong>?</label>
			<input type="text">
		</div>

		<div class="field">
			<label>What is your <strong>time zone</strong>?</label>
			<input type="text">
		</div>

		<button type="submit" class="full_width">Save My Profile</button>
	</form>
	
	<br><button {{action click="signOut"}} class="gray">Sign Out</button>
</div>