<div class="admin">
	<div class="topbar">
		<div class="menu_wrapper">
			<!--<p class="fa fa-bars open_menu icon"></p>-->
		</div>
		<h1>{{{ settings.name }}}</h1>
		<a class="signinout icon" {{action click="signOut"}}><i class="fa fa-lock"></i></a>
		<a href="#/" class="close icon">&times;</a>
	</div>

	<div class="leftbar">
		<a class="toggle_status offline" {{action click="toggleStatus"}}>
			<span class="toggle-on">
				<i class="fa fa-toggle-on"></i>
				Online
			</span>
			<span class="toggle-off">
				<i class="fa fa-toggle-on"></i>
				Offline
			</span>
		</a>

		<a href="#/admin/visitors">
			<i class="fa fa-group icon"></i>
			Visitors
		</a>

		<a href="#/admin/agents">
			<i class="fa fa-support icon"></i>
			Agents
		</a>

		<a href="#/admin/settings">
			<i class="fa fa-cog icon"></i>
			Settings
		</a>

		<a href="#/admin/upgrade">
			<!-- hide_if_upgraded hide_unless_admin -->
			<i class="fa fa-bolt icon"></i>
			Upgrade
		</a>
	</div>

	<div class="panes">
		{{{outlet}}}
	</div>

</div>