<div class="chatbox">
	{{{ outlet }}}
	
	<div class="prompter">
		<div class="agent_avatar">
			<p class="unread_messages_count">3</p>
			<img src="{{ Vars.baseURL }}/imgs/avatar.jpg">
		</div>
		<p class="bubble">
			I was wondering if you had any 3rd apples to display to the crew.
		</p>
	</div>
</div>