<div class="chatbox">
	<div class="topbar">
		<h1>{{{ settings.name }}}</h1>
		
		<a class="signinout icon"><i class="fa fa-lock"></i></a>
		<a href="#/" class="close icon">&times;</a>
	</div>
	
	{{{ outlet }}}
</div>