<div class="prompter">
	<a href="#/chatbox" class="agent_avatar">
		<span class="unread_messages_count">3</span>
		<img src="{{ Vars.baseURL }}/imgs/avatar.jpg">
	</a>
	<a href="#/chatbox" class="bubble">
		I was wondering if you had any 3rd apples to display to the crew.
	</a>
</div>