$chatbox_width: 325px;
$leftbar_width: 90px;
$topbar_height: 50px;
$selection_background: #D1F3FF;
$selection_colour: #315A7A;
$visitors_width: 270px;
$search_height: 44px;
$green: #447B4F;
$blue: #2D6C97;
$red: #8F200C;
$dark_blue: #204C6A;
$profile_header_height: 141px;